.About {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  background-color: #f4f7fc;
}

.content-section {
  max-width: 500px;
  text-align: right;
  direction: rtl;
}

.About-Header {
  color: #1C1E2E;
  font-family: "Cairo", sans-serif;
  font-size: 28px;
  text-align: center;
}

.About-Intro {
  font-size: 18px;
  color: #2b2d42;
  font-family: "Cairo", sans-serif;
  text-align: right;
  line-height: 1.6;
}

.Main-Menu {
  position: relative;
  width: 150px;
  height: 150px;
  background-color:transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: popIn 0.8s ease-in-out;
  border:2px solid transparent;
  transform: rotate(45deg);
}

.Main-Menu-Logo {
  width: 120px;
  height: 120px;
  position: absolute;
  transform: rotate(-45deg);
}

.menu-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid #1e3a8a;
  color: #1e3a8a;
  border-radius: 50%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.menu-btn:nth-child(2) { top: -50px; left: 38%; transform:translateX(-210%) rotate(-45deg);} 
.menu-btn:nth-child(3) { bottom: -50px; left: 38%;transform:translateX(180%) rotate(-45deg);} 
.menu-btn:nth-child(4) { left: -50px; top: 38%;transform:translateY(180%) rotate(-45deg); } 
.menu-btn:nth-child(5) { right: -50px; top: 38%; transform:translateY(-210%) rotate(-45deg); }

.Main-Menu:has(.menu-btn:nth-child(2).active) {
  border-top-color:#9333EA;
  border-left-color:#4F46E5;
}

.Main-Menu:has(.menu-btn:nth-child(3).active) {
  border-bottom-color:#9333EA;
  border-right-color:#4F46E5;
}

.Main-Menu:has(.menu-btn:nth-child(4).active) {
  border-bottom-color:#9333EA;
  border-left-color:#4F46E5;
}

.Main-Menu:has(.menu-btn:nth-child(5).active) {
  border-top-color:#9333EA;
  border-right-color:#4F46E5;
}

.menu-btn:hover,
.menu-btn.active {
  background: #3b82f6;
  color: white;
  border-color: #3b82f6;
}
.menu-btn.active {
  animation: pulse 1.5s infinite alternate ease-in-out;
}

ul {
  list-style: none;
  padding: 0;
}

.list-style {
  margin-left: 10px;
  color: #26457D;
}
@keyframes popIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
  }
  100% {
    box-shadow: 0 0 15px rgba(59, 130, 246, 0.8);
  }
}
